<!DOCTYPE html>
<html>
  <head>
    <title>Company Admin Products</title>
  </head>
  <body>
    <h1>Company Admin Products</h1>
    <% compadmin.forEach((compadmin) => { %>
      <h2><%= compadmin.CompanyName %></h2>
      <ul>
      </ul>
    <% }) %>
  </body>
</html>
